#container {
  width: 100%;
  height: 149px;
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 0;
  top: 0;
  color: #000;
}

#top-head {
  width: 100%;
  height: 59px;
}

ul {
  margin: 0;
  padding: 0;
}

a {
  color: #d2d2d2;
  width: 100px;
  height: 30px;
  display: inline;
  font-family: 'Montserrat', sans-serif;
  font-size: 11px;
  margin: 0;
  padding: 0;
}

#bar {
  width: 1px;
  height: 8px;
  margin: 0 12px;
  padding: 0;
}

span {
  border: 0.5px solid #d2d2d2;
}

#right-button-box {
  display: flex;
  align-items: center;
  width: 210px;
  padding: 0;
  margin: 0;
}

#right-button-box>img {
  width: 1px;
  height: 13px;
  padding: 0;
  margin: 0;
}

#head-low-right {
  margin: 0 0 0 20px;
}

#low-head {
  height: 89px;
  width: 100%;
  display: flex;
  justify-content: center;
}

#top-box {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 1400px;
}

#low-box{
  width: 1280px;
  height: 100%;
  margin: 0 0 0 17px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 1400px;
}

#ul-box {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-around;
  height: 100%;
  width: 100%;
  margin-left: 40px;
}

#ul-box>p #ul-box>strong {
  height: 100%;
  width: 100px;
  align-content: center;
  background-color: white;
  margin: 0 20px;
}

#button-box {
  display: flex;
  align-items: center;
  justify-self: center;
  margin: 0;
  padding: 0;
}

#button-box>span {
  background-color: black;
  
}