#container {
  width: 100%;
  height: 149px;
  background-color: white;
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 0;
  top: 0;
  color: #000;
  position: fixed;
  z-index: 100;
}

#top-head {
  width: 100%;
  height: 59px;
  display: flex;
  justify-content: center;
}

ul {
  margin: 0;
  padding: 0;
}

#ul-box>a {
  text-decoration: none;
  color: #000;
  width: auto;
  height: 100%;
  display: flex;
  justify-content: start;
  align-items: center;
  margin-right: 80px;
}

#right-button-box>a {
  color: #b2b2b2;
  font-family: 'Montserrat', sans-serif;
  font-size: 11px;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

#bar {
  width: 1px;
  height: 8px;
  margin: 0 12px;
  padding: 0;
}

span {
  border: 0.5px solid #d2d2d2;
}

#right-button-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 210px;
  height: 100%;
  padding: 0;
  margin: 0;
}

#right-button-box>img {
  width: 1px;
  height: 13px;
  padding: 0;
  margin: 0;
}

#low-head {
  height: 89px;
  width: 100%;
  display: flex;
  justify-content: center;
}

#top-box {
  width: 70%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 1400px;
}

#low-box{
  width: 1280px;
  height: 100%;
  margin: 0 0 0 17px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 1400px;
}

#ul-box {
  display: flex;
  align-items: center;
  flex-direction: row;
  height: 100%;
  width: 80.5%;
}

#ul-box>p #ul-box>strong {
  height: 100%;
  width: 100px;
  align-content: center;
  background-color: white;
  margin: 0 20px;
}

#button-box {
  display: flex;
  align-items: center;
  justify-self: center;
  margin: 0;
  padding: 0;
}

#button-box>span {
  background-color: black;
}

select {
  margin-left: 10px;
  width: 80px;
  height: 25px;
  border: 1px solid #ddd;
  border-radius: 8px;
  
}

select>option {
  outline: 0 none;
}
