#imgDiv {
  width: 61%;
  height: 60%;
  color: #fff;
  /* font-family: "Noto Sans KR", "돋움", dotum, sans-serif; */
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  padding-top: 52px;
  min-width: 500px;
  min-height: 300px;
}

#imgDiv>h3 {
  display: block;
  padding: 0;
  margin: 0;
  /* font-family: "Noto Sans KR", "돋움", dotum, sans-serif; */
  font-weight: 1;
  font-size: 47px;
}

#imgDiv>p {
  padding: 0;
  margin: 0;
  margin-top: 15px;
  color: #aaa;
  font-size: 14px;
}

#imgDiv>span {
  border: none;
  background-color: white;
  width: 80px;
  height: 1px;
  margin-bottom: 8px;
  display: flex;
  flex-direction: column;
}

#home-container {
  background-image: url("../../assets/monami_main.jpg");
  width: 100%;
  height: 651px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 149px 0 0 0;
}

#contents-container {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

#text-box>h2 {
  font-size: 32px;
  color: #000;
  padding: 0;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

#text-box {
  padding: 0;
  margin-bottom: 14px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  line-height: 35px;
}

#text-area>span {
  border: none;
  background-color: #d00;
  display: flex;
  width: 25px;
  height: 4px;
}

#text-area>p {
  padding: 0;
  font-size: 12px;
  margin: 10px 0 39px 0;
  color: #888;
  font-weight: 900;
}

#contents {
  width: 1200px;
  display: flex;
  flex-wrap: wrap;
  padding: 90px 0 79px 0;
}

