#news-container {
  width: 100%;
  height: 356px;
  display: flex;
  justify-content: center;
  margin-top: -4px;
  background-color: #f8f8f8;
}

#news-box {
  display: flex;
  width: 1400px;
  height: 100%;
  color: black;
}

